extends layout/layout
include mixins/movieBlock

block content
    if searchingBy
        h1 Searching By #{searchingBy}
    else
        h1 Movies
    .movies
        each item in movieList
            +movieBlock({
                title:item.title,
                id:item.id
            })
