extends layout.pug

block content
    h1 ☠️ No Movies ☠️
    h2 ☠️ I need Movie ☠️
    h6 I did my best...
    img(src="http://mblogthumb2.phinf.naver.net/20160924_81/realnogun_1474689216780cc8wj_JPEG/se3_image_3213454478.jpg?type=w800")