extends layout.pug

block content
    h1 hello edit page
    form(action=`/${movie.id}/edit`, method="post")
        input(type="text", name="title", value =movie.title)
        input(type="number", name="year", value =movie.year)
        input(type="number", name="rating", step="0.1", value =movie.rating)
        textarea(name="synopsis")=movie.synopsis
        textarea(name="genres")=movie.genres
        input(type="submit", value="Change")
    a(href=`/${movie.id}/delete`)
        button Delete