doctype html
head
    title #{siteTitle}
body
    header
        ul
            a(href="/")
                li home
            a(href="/create")
                li create
            a(href="/search")
                li search
    h1 hi
    block content